.comments-container {
    background-color: rgb(218, 218, 246);
    border-radius: 3px;
    width: 43vw;
    padding: 1vw;
}

.comment-row {
    display: flex;
    margin-bottom: 1vw;
}

.comment-container {
    display: flex;
    text-align: left;
    font-size: 1vw;
}

.commenter {
    margin-right: 2vw;
    min-height: 2vw;
    width: 5vw;
    font-size: .8vw;
    overflow-wrap: break-word;
}

.comment-buttons {
    margin-left: 1vw;
}

.comment-buttons button{
    background-color: transparent;
    border: none;
    font-size: 1vw;
}

.comment-content {
    width: 30vw;
}

.comment-text {
    width: 30vw;
}
.inputcomment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
   

}

.inputcomment-container input {
    background-color: rgb(196, 196, 242);
    border-radius: 5px;
    width: 25vw;
    border: 1px solid rgb(196, 196, 242);
    justify-content: center;
    overflow-wrap: normal;
    min-height: 2vw;
    font-size: 1vw;
}

.right-side {
    display: flex;
    align-items: center;
}

.left-side button {
    margin-left: 2vw;
    background-color: rgb(196, 196, 242);
    border-radius: 5px;
    border: 1px solid rgb(196, 196, 242);
    min-height: 2vw;

}

.user-info {
    margin-right: 2vw;
}