.nav-wrapper {
    height: 100vh;
    width: 15vw;
    background-color: rgb(197, 235, 251);
    margin-right: 20px;
    margin-top: 0px;
    
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.links-nav {
    display: flex;
    flex-direction: column;
}

.link-nav {
    color: black;
    font-family: 'Comic Neue', cursive;
}


.links-auth {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    
   
}

.link-auth {
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    width: 10vw;
    border: 1px solid rgb(101, 216, 255);
    background-color: rgb(101, 216, 255);
    border-radius: 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}


.home-link {
    padding: 10px;
    font-size: 2.8vw;
    font-weight: 700;
    font-family: 'Comic Neue', cursive;
    color: black;
    text-decoration: none;
    text-align: center;
}

.profile-dropdown {
    display: flex;
    
}

.profile-button {
    border: 1px solid black;
    background-color: rgb(202, 12, 12);
    display: flex;
    line-height: 1.25;
    align-items: center;
    min-width: 10vw;
    border-radius: 99999px;
    margin: 0px 2.5vw;
  }
  
.user-greeting {
    font-size: .7rem;
    width: 100%;
    overflow-wrap: break-word;
    

}


.profile-dropdown:hover .dropdown-content {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    width: 2%;
    margin-left: 10px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdf9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 100%;
    color: black;
    transform: translateX(calc(70% + 8px));
  }


