
.presentation-canvas {
    position: relative;
    overflow:hidden;
    border: 1px solid black;
    border-radius: 4px;
    width: 54vw;
    height: 52vh
}

.selection {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(197, 235, 251);
    padding: 5px 0px;
    border-radius: 3px;
   
}

.selection img {
    width: 1.5vw;
    margin-right: 3px;
}

.selection i {
    padding: .7vw 0px;
 
}

.selection button {
    background-color: rgb(197, 235, 251);
    border: 1px solid rgb(197, 235, 251);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .7vw;
}

.fontsize-container {
    display: flex;
    align-items: center;
}

.fontsize-container {
    font-size: 1.5vw;
}

.button-add-page {
    background-color: rgb(197, 235, 251);
    border-radius: 3px;
    border: 1px solid rgb(197, 235, 251);
    margin-top: 12px;
    font-size: 1vw;
}

.color-dropdown button {
    display: flex;
    flex-direction: column;
  
  
}

.selection button:hover {
    background-color: rgb(129, 217, 255);
}

.compose-container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 3vw;
    align-items: center;
}

.title-compose {
    margin-bottom: 30px;
    text-align: center;
}


.presentation-title-input {
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    min-height: 30px;
    overflow-wrap: break-word;
    min-width: 28vw;
    margin-top: 1vw;
    text-align: center;
    
}

.add-like-button button {
    border: none;
    background-color: transparent;
    margin-top: .7vw;
   
}

.add-like-button fa-solid fa-heart {
 color: red 
}

.save-button {
    width: 30vw;
    height: 5vh;
    margin-top: 25px;
    background-color: rgb(202, 12, 12);
    border: 1px solid  rgb(202, 12, 12);
    border-radius: 3px;
    font-size: 2vw;
    font-weight: 700;
}

.color-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdf9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 12px;
    z-index: 1;
    color: black;
    margin-top: 4.4vh;
  }

.color-dropdown:hover .color-dropdown-content {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    position: absolute;
}

.all-presentations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.all-presentations-container h2 {
    padding: .3vw;
    font-size: 1.7vw;
    font-weight: 700;
    margin-top: 1vw;

}

.presentation-container {
    padding: 5px;
    margin: 10px 0px;
}

.presentation-show-container{
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 80vw;
}

.presentation-show-container h3 {
    font-size: 1.4vw;
    margin-bottom: 10px;
    font-weight: 700;
    width: 68%;
    text-align: center;
    
}

.presentation-show-container b {
    font-weight: 700;
    margin-bottom: .8vw;
    
}

.like-comment-buttons {
    display: flex;
 
}

.footer-toggle {
    margin-top: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}