
.presentation-canvas {
    position: relative;
    overflow:hidden;
    border: 1px solid black;
    border-radius: 4px;
    width: 54vw;
    height: 52vh
}

.selection {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(197, 235, 251);
    padding: 5px 0px;
    border-radius: 3px;
}

.selection button {
    background-color: rgb(197, 235, 251);
    border: 1px solid rgb(197, 235, 251);
    border-radius: 3px;
}

.selection button:hover {
    background-color: rgb(129, 217, 255);
}

.present-compose-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.save-button {
    width: 30vw;
    height: 5vh;
    margin-top: 30px;
    background-color: rgb(202, 12, 12);
    border: 1px solid  rgb(202, 12, 12);
    border-radius: 3px;
    font-size: 2vw;
    font-weight: 700;
}

.color-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.color-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdf9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 12px;
    z-index: 1;
    color: black;
    margin-top: 25px;
   
  }

.color-dropdown:hover .color-dropdown-content {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    position: absolute;
    


}