.edit-button-presentation{
    background-color: rgb(196, 196, 242) !important;
    border-radius: 0.5vw;
}

.edit-button-presentation a{
    text-decoration: none;
    font-size: 1.2vw;
    color: black;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding: 0px 1vw;
    background-color:  rgb(105, 208, 255); 
}

.profile-container h2 {
    font-size: 2vw;
    margin-top: 2vw;
}